  NET  AD<0>	  LOC = D4;
  NET  AD<1>	  LOC = B2;
  NET  AD<2>	  LOC = E3;
  NET  AD<3>	  LOC = A4;
  NET  AD<4>	  LOC = C5;
  NET  AD<5>	  LOC = B6;
  NET  AD<6>	  LOC = A6;
  NET  AD<7>	  LOC = D3;
  NET  AD<8>	  LOC = B5;
  NET  AD<9>	  LOC = E7;
  NET  AD<10>	  LOC = B4;
  NET  AD<11>	  LOC = C4;
  NET  AD<12>	  LOC = A5;
  NET  AD<13>	  LOC = C6;
  NET  AD<14>	  LOC = A2;
  NET  AD<15>	  LOC = D6;
  NET  AD<16>	  LOC = A3;
  NET  AD<17>	  LOC = C7;
  NET  AD<18>	  LOC = D7;
  NET  AD<19>	  LOC = E8;
  NET  AD<20>	  LOC = B3;
  NET  AD<21>	  LOC = C3;
  NET  AD<22>	  LOC = B7;
  NET  AD<23>	  LOC = E9;
  NET  AD<24>	  LOC = A7;
  NET  AD<25>	  LOC = D8;
  NET  AD<26>	  LOC = B8;
  NET  AD<27>	  LOC = C8;
  NET  AD<28>	  LOC = A8;
  NET  AD<29>	  LOC = E11;
  NET  AD<30>	  LOC = E10;
  NET  AD<31>	  LOC = B9;
  NET  AMI<0>	  LOC = G15;
  NET  AMI<1>	  LOC = H13;
  NET  AMI<2>	  LOC = G16;
  NET  AMI<3>	  LOC = H14;
  NET  AMI<4>	  LOC = H15;
  NET  AMI<5>	  LOC = J12;
  NET  ASDO	  LOC = T15;
  NET  ASI	  LOC = N15;
  NET  AS_CLK	  LOC = F13;
  NET  AS_DI	  LOC = D16;
  NET  AS_DO	  LOC = F14;
  NET  BERRO	  LOC = J15;
  NET  CAIV	  LOC = M12;
  NET  CAVI	  LOC = L15;
  NET  CCLK	  LOC = N11;
  NET  CDIV	  LOC = K15;
  NET  CDONE	  LOC = P11;
  NET  CDVI	  LOC = K14;
  NET  CEFSH	  LOC = D2;
  NET  CKFSH	  LOC = E5;
  NET  CKPRO	  LOC = M2;
  NET  CON<0>	  LOC = R4;
  NET  CON<1>	  LOC = M5;
  NET  CON<2>	  LOC = R5;
  NET  CON<3>	  LOC = R6;
  NET  CON<4>	  LOC = N6;
  NET  CON<5>	  LOC = R3;
  NET  CON<6>	  LOC = M6;
  NET  CON<7>	  LOC = T3;
  NET  CON<8>	  LOC = P6;
  NET  CON<9>	  LOC = T4;
  NET  CON<10>	  LOC = P7;
  NET  CON<11>	  LOC = T5;
  NET  CON<12>	  LOC = N7;
  NET  CON<13>	  LOC = R7;
  NET  CON<14>	  LOC = M7;
  NET  CON<15>	  LOC = T6;
  NET  NCONFIG	  LOC = M11;
  NET  CONF_D<0>	  LOC = T13;
  NET  CONF_D<1>	  LOC = R14;
  NET  CONF_D<2>	  LOC = N13;
  NET  CONF_D<3>	  LOC = R13;
  NET  CONF_D<4>	  LOC = P13;
  NET  CONF_D<5>	  LOC = P14;
  NET  CONF_D<6>	  LOC = P15;
  NET  CONF_D<7>	  LOC = R15;
  NET  CRES	  LOC = N14;
  NET  DACKP	  LOC = P16;
  NET  DF<0>	  LOC = D9;
  NET  DF<1>	  LOC = A9;
  NET  DF<2>	  LOC = B11;
  NET  DF<3>	  LOC = A11;
  NET  DF<4>	  LOC = A12;
  NET  DF<5>	  LOC = C11;
  NET  DF<6>	  LOC = E13;
  NET  DF<7>	  LOC = A13;
  NET  DF<8>	  LOC = C10;
  NET  DF<9>	  LOC = B10;
  NET  DF<10>	  LOC = D10;
  NET  DF<11>	  LOC = D11;
  NET  DF<12>	  LOC = F12;
  NET  DF<13>	  LOC = E12;
  NET  DF<14>	  LOC = D13;
  NET  DF<15>	  LOC = A14;
  NET  DS1I	  LOC = M13;
  NET  DS0I	  LOC = M15;
  NET  FL<22>	  LOC = A15;
  NET  FL<23>	  LOC = A16;
  NET  FL<24>	  LOC = C13;
  NET  FL<25>	  LOC = B14;
  NET  FL<26>	  LOC = B13;
  NET  HPR<0>	  LOC = C1;
  NET  HPR<1>	  LOC = E2;
  NET  HPR<2>	  LOC = F2;
  NET  HPR<3>	  LOC = E6;
  NET  HPR<4>	  LOC = F3;
  NET  HPR<5>	  LOC = D1;
  NET  HPR<6>	  LOC = G4;
  NET  HPR<7>	  LOC = E1;
  NET  HPR<8>	  LOC = G3;
  NET  HPR<9>	  LOC = G2;
  NET  HPR<10>	  LOC = F5;
  NET  HPR<11>	  LOC = F1;
  NET  HPR<12>	  LOC = G5;
  NET  HPR<13>	  LOC = H2;
  NET  HPR<14>	  LOC = H4;
  NET  HPR<15>	  LOC = G1;
  NET  IACK	  LOC = R16;
  NET  IACKII	  LOC = M14;
  NET  IACKOU	  LOC = K16;
  NET  IRBLO	  LOC = J14;
  NET  M<0>	  LOC = M10;
  NET  M<1>	  LOC = T10;
  NET  M<2>	  LOC = M9;
  NET  M<3>	  LOC = R9;
  NET  MON<0>	  LOC = L2;
  NET  MON<1>	  LOC = K1;
  NET  MON<2>	  LOC = L1;
  NET  MON<3>	  LOC = K4;
  NET  MON<4>	  LOC = K2;
  NET  MON<5>	  LOC = K5;
  NET  MON<6>	  LOC = K3;
  NET  MON<7>	  LOC = J4;
  NET  MRES	  LOC = T16;
  NET  NAS_CS	  LOC = E15;
  NET  NCSO	  LOC = R12;
  NET  NRES	  LOC = P2;
  NET  NSTATUS	  LOC = N10;
  NET  OAIV	  LOC = M16;
  NET  OAVI	  LOC = L13;
  NET  ODIV	  LOC = L12;
  NET  ODVI	  LOC = L16;
  NET  OEFSH	  LOC = A1;
  NET  PLED<1>	  LOC = N2;
  NET  PLED<2>	  LOC = N4;
  NET  PLED<3>	  LOC = R1;
  NET  PLED<4>	  LOC = N3;
  NET  PRES	  LOC = N8;
  NET  RES<1>	  LOC = R8;
  NET  RES<2>	  LOC = T7;
  NET  RSTFSH	  LOC = B1;
  NET  SRESI	  LOC = L14;
  NET  WEFSH	  LOC = C2;
  NET  WRI	  LOC = N16;
