CONFIG VCCAUX  = 3.3;

#bank 0
NET "clk_20m_vcxo_i" LOC = H1;
NET "clk_20m_vcxo_i" IOSTANDARD = LVCMOS33;

NET "fpga_clk_n_i" LOC = E12;
NET "fpga_clk_n_i" IOSTANDARD = LVDS_33;

NET "fpga_clk_p_i" LOC = F12;
NET "fpga_clk_p_i" IOSTANDARD = LVDS_33;

#NET "sfp0_ref_clk_n_i" LOC = A8;
#NET "sfp0_ref_clk_p_i" LOC = B8;
#NET "sfp0_ref_clk_n_i" IOSTANDARD = LVDS_33;
#NET "sfp0_ref_clk_p_i" IOSTANDARD = LVDS_33;

#NET "fmc_ref_clk_n_i" LOC = A10;
#NET "fmc_ref_clk_p_i" LOC = B10;
#NET "fmc_ref_clk_n_i" IOSTANDARD = LVDS_33;
#NET "fmc_ref_clk_p_i" IOSTANDARD = LVDS_33;

NET "sfp1_ref_clk_n_i" LOC = C9;
NET "sfp1_ref_clk_p_i" LOC = D9;
NET "sfp1_ref_clk_n_i" IOSTANDARD = LVDS_33;
NET "sfp1_ref_clk_p_i" IOSTANDARD = LVDS_33;

NET "dac_clr_n_o" LOC = G1;
NET "dac_clr_n_o" IOSTANDARD = LVCMOS33;

NET "dac_sclk_o" LOC = D1;
NET "dac_sclk_o" IOSTANDARD = LVCMOS33;

NET "dac_din_o" LOC = C1;
NET "dac_din_o" IOSTANDARD = LVCMOS33;

NET "dac_ldac_n_o" LOC = F1;
NET "dac_ldac_n_o" IOSTANDARD = LVCMOS33;

NET "dac_sync_n_o" LOC = E1;
NET "dac_sync_n_o" IOSTANDARD = LVCMOS33;

NET "sfp0_led_o" LOC = C2;
NET "sfp0_led_o" IOSTANDARD = LVCMOS33;

NET "sfp1_led_o" LOC = E18;
NET "sfp1_led_o" IOSTANDARD = LVCMOS33;

#NET "sfp0_mod_def0_i" LOC = D2;
#NET "sfp0_mod_def0_i" IOSTANDARD = LVCMOS33;
#NET "sfp0_mod_def1_b" LOC = E3;
#NET "sfp0_mod_def1_b" IOSTANDARD = LVCMOS33;
#NET "sfp0_mod_def2_b" LOC = E4;
#NET "sfp0_mod_def2_b" IOSTANDARD = LVCMOS33;
#NET "sfp0_tx_fault_i" LOC = F3;
#NET "sfp0_tx_fault_i" IOSTANDARD = LVCMOS33;
#NET "sfp0_tx_disable_o" LOC = F2;
#NET "sfp0_tx_disable_o" IOSTANDARD = LVCMOS33;
#NET "sfp0_los_i" LOC = D3;
#NET "sfp0_los_i" IOSTANDARD = LVCMOS33;
#NET "sfp0_rxn_i" LOC = C5;
#NET "sfp0_rxp_i" LOC = D5;
#NET "sfp0_txn_o" LOC = A4;
#NET "sfp0_txp_o" LOC = B4;

NET "sfp1_mod_def0_i" LOC = F16;
NET "sfp1_mod_def0_i" IOSTANDARD = LVCMOS33;
NET "sfp1_mod_def1_b" LOC = G16;
NET "sfp1_mod_def1_b" IOSTANDARD = LVCMOS33;
NET "sfp1_mod_def2_b" LOC = F18;
NET "sfp1_mod_def2_b" IOSTANDARD = LVCMOS33;
NET "sfp1_tx_fault_i" LOC = J16;
NET "sfp1_tx_fault_i" IOSTANDARD = LVCMOS33;
NET "sfp1_tx_disable_o" LOC = H16;
NET "sfp1_tx_disable_o" IOSTANDARD = LVCMOS33;
NET "sfp1_los_i" LOC = E16;
NET "sfp1_los_i" IOSTANDARD = LVCMOS33;
NET "sfp1_rxn_i" LOC = C7;
NET "sfp1_rxp_i" LOC = D7;
NET "sfp1_txn_o" LOC = A6;
NET "sfp1_txp_o" LOC = B6;

NET "pps_o" LOC = C18;
NET "pps_o" IOSTANDARD = LVCMOS33;
#NET "ext_clk_o" LOC = C17;
#NET "ext_clk_o" IOSTANDARD = LVCMOS33;

NET "fpga_scl_b" LOC = U17;
NET "fpga_scl_b" IOSTANDARD = LVCMOS33;
NET "fpga_sda_b" LOC = U18;
NET "fpga_sda_b" IOSTANDARD = LVCMOS33;

NET "thermo_id_b" LOC = J1;
NET "thermo_id_b" IOSTANDARD = LVCMOS33;
 
#NET "usr_led1_o" LOC = D18;
#NET "usr_led1_o" IOSTANDARD = LVCMOS33;
#NET "usr_led2_o" LOC = D17;
#NET "usr_led2_o" IOSTANDARD = LVCMOS33;
NET "usr_button_i" LOC = G3;
NET "usr_button_i" IOSTANDARD = LVCMOS33;

NET "uart_rxd_i" LOC = H2;
NET "uart_rxd_i" IOSTANDARD = LVCMOS33;
NET "uart_txd_o" LOC = H3;
NET "uart_txd_o" IOSTANDARD = LVCMOS33;

#---------------------------------------------------------------------------------------------
# CLOCK Period Information 
#---------------------------------------------------------------------------------------------
NET "clk_20m_vcxo_i" TNM_NET = "clk_20m_vcxo_i";
TIMESPEC TS_clk_20m_vcxo_i = PERIOD "clk_20m_vcxo_i" 50 ns HIGH 50 %;

NET "fpga_clk_p_i" TNM_NET = "fpga_clk_p_i";
TIMESPEC TS_fpga_clk_p_i = PERIOD "fpga_clk_p_i" 8 ns HIGH 50 %;

NET "fpga_clk_n_i" TNM_NET = "fpga_clk_n_i";
TIMESPEC TS_fpga_clk_n_i = PERIOD "fpga_clk_n_i" 8 ns HIGH 50 %;

#NET "sfp0_ref_clk_p_i" TNM_NET = "sfp0_ref_clk_p_i";
#TIMESPEC TS_sfp0_ref_clk_p_i = PERIOD "sfp0_ref_clk_p_i" 8 ns HIGH 50 %;

#NET "sfp0_ref_clk_n_i" TNM_NET = "sfp0_ref_clk_n_i";
#TIMESPEC TS_sfp0_ref_clk_n_i = PERIOD "sfp0_ref_clk_n_i" 8 ns HIGH 50 %;

NET "sfp1_ref_clk_p_i" TNM_NET = "sfp1_ref_clk_p_i";
TIMESPEC TS_sfp1_ref_clk_p_i = PERIOD "sfp1_ref_clk_p_i" 8 ns HIGH 50 %;

NET "sfp1_ref_clk_n_i" TNM_NET = "sfp1_ref_clk_n_i";
TIMESPEC TS_sfp1_ref_clk_n_i = PERIOD "sfp1_ref_clk_n_i" 8 ns HIGH 50 %;

INST "*/U_SOFTPLL/U_Wrapped_Softpll/gen_feedback_dmtds*/clk_in" TNM = "skew_limit";
INST "*/U_SOFTPLL/U_Wrapped_Softpll/gen_ref_dmtds*/clk_in" TNM = "skew_limit";
TIMESPEC TS_ = FROM "skew_limit" TO  FFS 1 ns DATAPATHONLY;

INST "U_WR_CORE/PPS_GEN/WRAPPED_PPSGEN/pps_out_o" IOB =FORCE;

INST "U_WR_CORE/U_Endpoint" AREA_GROUP = "pblock_U_Endpoint";
AREA_GROUP "pblock_U_Endpoint" RANGE=SLICE_X22Y96:SLICE_X59Y125;
AREA_GROUP "pblock_U_Endpoint" RANGE=DSP48_X1Y24:DSP48_X1Y27;
AREA_GROUP "pblock_U_Endpoint" RANGE=RAMB16_X2Y48:RAMB16_X3Y62;
AREA_GROUP "pblock_U_Endpoint" RANGE=RAMB8_X2Y48:RAMB8_X3Y63;
INST "U_WR_CORE/MINI_NIC" AREA_GROUP = "pblock_MINI_NIC";
AREA_GROUP "pblock_MINI_NIC" RANGE=SLICE_X30Y88:SLICE_X59Y95;
AREA_GROUP "pblock_MINI_NIC" RANGE=DSP48_X1Y22:DSP48_X1Y23;
AREA_GROUP "pblock_MINI_NIC" RANGE=RAMB16_X2Y44:RAMB16_X3Y46;
AREA_GROUP "pblock_MINI_NIC" RANGE=RAMB8_X2Y44:RAMB8_X3Y47;
INST "U_WR_CORE/LM32_CORE" AREA_GROUP = "pblock_LM32_CORE";
AREA_GROUP "pblock_LM32_CORE" RANGE=SLICE_X18Y72:SLICE_X59Y87;
AREA_GROUP "pblock_LM32_CORE" RANGE=DSP48_X1Y18:DSP48_X1Y21;
AREA_GROUP "pblock_LM32_CORE" RANGE=RAMB16_X2Y36:RAMB16_X3Y42;
AREA_GROUP "pblock_LM32_CORE" RANGE=RAMB8_X2Y36:RAMB8_X3Y43;
INST "U_WR_CORE/U_SOFTPLL" AREA_GROUP = "pblock_U_SOFTPLL";
AREA_GROUP "pblock_U_SOFTPLL" RANGE=SLICE_X30Y64:SLICE_X59Y71;
AREA_GROUP "pblock_U_SOFTPLL" RANGE=DSP48_X1Y16:DSP48_X1Y17;
AREA_GROUP "pblock_U_SOFTPLL" RANGE=RAMB16_X2Y32:RAMB16_X3Y34;
AREA_GROUP "pblock_U_SOFTPLL" RANGE=RAMB8_X2Y32:RAMB8_X3Y35;

INST "Etherbone" AREA_GROUP = "pblock_Etherbone";
AREA_GROUP "pblock_Etherbone" RANGE=SLICE_X0Y56:SLICE_X7Y111;
AREA_GROUP "pblock_Etherbone" RANGE=DSP48_X0Y14:DSP48_X0Y27;
AREA_GROUP "pblock_Etherbone" RANGE=RAMB16_X0Y28:RAMB16_X0Y54;
AREA_GROUP "pblock_Etherbone" RANGE=RAMB8_X0Y28:RAMB8_X0Y55;

INST "Inst_xwb_com5402" AREA_GROUP = "pblock_Inst_xwb_com5402";
AREA_GROUP "pblock_Inst_xwb_com5402" RANGE=SLICE_X30Y48:SLICE_X41Y63, SLICE_X28Y48:SLICE_X29Y70, SLICE_X18Y48:SLICE_X27Y71, SLICE_X14Y48:SLICE_X17Y95, SLICE_X8Y48:SLICE_X13Y111;
AREA_GROUP "pblock_Inst_xwb_com5402" RANGE=RAMB16_X2Y24:RAMB16_X2Y30, RAMB16_X1Y24:RAMB16_X1Y34;
AREA_GROUP "pblock_Inst_xwb_com5402" RANGE=RAMB8_X2Y24:RAMB8_X2Y31, RAMB8_X1Y24:RAMB8_X1Y35;
