CONFIG VCCAUX  = 3.3;

#bank 0
NET "clk_20m_vcxo_i" LOC = H1;
NET "clk_20m_vcxo_i" IOSTANDARD = LVCMOS33;

NET "fpga_clk_n_i" LOC = E12;
NET "fpga_clk_n_i" IOSTANDARD = LVDS_33;

NET "fpga_clk_p_i" LOC = F12;
NET "fpga_clk_p_i" IOSTANDARD = LVDS_33;

#NET "sfp0_ref_clk_n_i" LOC = A8;
#NET "sfp0_ref_clk_p_i" LOC = B8;
#NET "sfp0_ref_clk_n_i" IOSTANDARD = LVDS_33;
#NET "sfp0_ref_clk_p_i" IOSTANDARD = LVDS_33;

#NET "fmc_ref_clk_n_i" LOC = A10;
#NET "fmc_ref_clk_p_i" LOC = B10;
#NET "fmc_ref_clk_n_i" IOSTANDARD = LVDS_33;
#NET "fmc_ref_clk_p_i" IOSTANDARD = LVDS_33;

NET "sfp1_ref_clk_n_i" LOC = C9;
NET "sfp1_ref_clk_p_i" LOC = D9;
NET "sfp1_ref_clk_n_i" IOSTANDARD = LVDS_33;
NET "sfp1_ref_clk_p_i" IOSTANDARD = LVDS_33;

NET "dac_clr_n_o" LOC = G1;
NET "dac_clr_n_o" IOSTANDARD = LVCMOS33;

NET "dac_sclk_o" LOC = D1;
NET "dac_sclk_o" IOSTANDARD = LVCMOS33;

NET "dac_din_o" LOC = C1;
NET "dac_din_o" IOSTANDARD = LVCMOS33;

NET "dac_ldac_n_o" LOC = F1;
NET "dac_ldac_n_o" IOSTANDARD = LVCMOS33;

NET "dac_sync_n_o" LOC = E1;
NET "dac_sync_n_o" IOSTANDARD = LVCMOS33;

NET "sfp0_led_o" LOC = C2;
NET "sfp0_led_o" IOSTANDARD = LVCMOS33;

NET "sfp1_led_o" LOC = E18;
NET "sfp1_led_o" IOSTANDARD = LVCMOS33;

#NET "sfp0_mod_def0_i" LOC = D2;
#NET "sfp0_mod_def0_i" IOSTANDARD = LVCMOS33;
#NET "sfp0_mod_def1_b" LOC = E3;
#NET "sfp0_mod_def1_b" IOSTANDARD = LVCMOS33;
#NET "sfp0_mod_def2_b" LOC = E4;
#NET "sfp0_mod_def2_b" IOSTANDARD = LVCMOS33;
#NET "sfp0_tx_fault_i" LOC = F3;
#NET "sfp0_tx_fault_i" IOSTANDARD = LVCMOS33;
#NET "sfp0_tx_disable_o" LOC = F2;
#NET "sfp0_tx_disable_o" IOSTANDARD = LVCMOS33;
#NET "sfp0_los_i" LOC = D3;
#NET "sfp0_los_i" IOSTANDARD = LVCMOS33;
#NET "sfp0_rxn_i" LOC = C5;
#NET "sfp0_rxp_i" LOC = D5;
#NET "sfp0_txn_o" LOC = A4;
#NET "sfp0_txp_o" LOC = B4;

NET "sfp1_mod_def0_i" LOC = F16;
NET "sfp1_mod_def0_i" IOSTANDARD = LVCMOS33;
NET "sfp1_mod_def1_b" LOC = G16;
NET "sfp1_mod_def1_b" IOSTANDARD = LVCMOS33;
NET "sfp1_mod_def2_b" LOC = F18;
NET "sfp1_mod_def2_b" IOSTANDARD = LVCMOS33;
NET "sfp1_tx_fault_i" LOC = J16;
NET "sfp1_tx_fault_i" IOSTANDARD = LVCMOS33;
NET "sfp1_tx_disable_o" LOC = H16;
NET "sfp1_tx_disable_o" IOSTANDARD = LVCMOS33;
NET "sfp1_los_i" LOC = E16;
NET "sfp1_los_i" IOSTANDARD = LVCMOS33;
NET "sfp1_rxn_i" LOC = C7;
NET "sfp1_rxp_i" LOC = D7;
NET "sfp1_txn_o" LOC = A6;
NET "sfp1_txp_o" LOC = B6;

NET "pps_o" LOC = C18;
NET "pps_o" IOSTANDARD = LVCMOS33;
#NET "ext_clk_o" LOC = C17;
#NET "ext_clk_o" IOSTANDARD = LVCMOS33;

NET "fpga_scl_b" LOC = U17;
NET "fpga_scl_b" IOSTANDARD = LVCMOS33;
NET "fpga_sda_b" LOC = U18;
NET "fpga_sda_b" IOSTANDARD = LVCMOS33;

NET "thermo_id_b" LOC = J1;
NET "thermo_id_b" IOSTANDARD = LVCMOS33;
 
#NET "usr_led1_o" LOC = D18;
#NET "usr_led1_o" IOSTANDARD = LVCMOS33;
#NET "usr_led2_o" LOC = D17;
#NET "usr_led2_o" IOSTANDARD = LVCMOS33;
#NET "usr_button_i" LOC = G3;
#NET "usr_button_i" IOSTANDARD = LVCMOS33;

NET "uart_rxd_i" LOC = H2;
NET "uart_rxd_i" IOSTANDARD = LVCMOS33;
NET "uart_txd_o" LOC = H3;
NET "uart_txd_o" IOSTANDARD = LVCMOS33;

NET "usr_lemo1_i" LOC = K1;
NET "usr_lemo1_i" IOSTANDARD = LVCMOS33;
NET "usr_lemo2_i" LOC = J3;
NET "usr_lemo2_i" IOSTANDARD = LVCMOS33;
#---------------------------------------------------------------------------------------------
# CLOCK Period Information 
#---------------------------------------------------------------------------------------------
NET "clk_20m_vcxo_i" TNM_NET = "clk_20m_vcxo_i";
TIMESPEC TS_clk_20m_vcxo_i = PERIOD "clk_20m_vcxo_i" 50 ns HIGH 50 %;

NET "fpga_clk_p_i" TNM_NET = "fpga_clk_p_i";
TIMESPEC TS_fpga_clk_p_i = PERIOD "fpga_clk_p_i" 8 ns HIGH 50 %;

NET "fpga_clk_n_i" TNM_NET = "fpga_clk_n_i";
TIMESPEC TS_fpga_clk_n_i = PERIOD "fpga_clk_n_i" 8 ns HIGH 50 %;

#NET "sfp0_ref_clk_p_i" TNM_NET = "sfp0_ref_clk_p_i";
#TIMESPEC TS_sfp0_ref_clk_p_i = PERIOD "sfp0_ref_clk_p_i" 8 ns HIGH 50 %;

#NET "sfp0_ref_clk_n_i" TNM_NET = "sfp0_ref_clk_n_i";
#TIMESPEC TS_sfp0_ref_clk_n_i = PERIOD "sfp0_ref_clk_n_i" 8 ns HIGH 50 %;

NET "sfp1_ref_clk_p_i" TNM_NET = "sfp1_ref_clk_p_i";
TIMESPEC TS_sfp1_ref_clk_p_i = PERIOD "sfp1_ref_clk_p_i" 8 ns HIGH 50 %;

NET "sfp1_ref_clk_n_i" TNM_NET = "sfp1_ref_clk_n_i";
TIMESPEC TS_sfp1_ref_clk_n_i = PERIOD "sfp1_ref_clk_n_i" 8 ns HIGH 50 %;

INST "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/gen_period_meas_channels[0].u_tdc_meas_channel/u_tdc_delaychain/Madd_adder_sum_lut<0>" BEL = A6LUT;
INST "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/gen_period_meas_channels[0].u_tdc_meas_channel/u_tdc_delaychain/Madd_adder_sum_lut<0>" LOC = SLICE_X0Y2;
INST "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/gen_period_meas_channels[1].u_tdc_meas_channel/u_tdc_delaychain/Madd_adder_sum_lut<0>" BEL = A6LUT;
INST "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/gen_period_meas_channels[1].u_tdc_meas_channel/u_tdc_delaychain/Madd_adder_sum_lut<0>" LOC = SLICE_X2Y2;

NET "pllout_clk_calib" TIG;
NET "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/h_level[*]" TIG;
NET "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/l_level[*]" TIG;
NET "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/tdc_cal_sel_i[*]" TIG;
NET "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/tdc_dnl_done_o[*]" TIG;
NET "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/tdc_lut_done_o[*]" TIG;
#NET "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/tdc_lut_build_i[*]" TIG;
NET "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/tdc_insig_i[*]" TIG;
NET "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/rd_data[*]" TIG;
NET "u_xwb_pcn/WRAPPED_PCN_MODULE/u_tdc_module/rd_addr[*]" TIG;

INST "u_xwb_pcn" AREA_GROUP = "pblock_u_xwb_pcn";
AREA_GROUP "pblock_u_xwb_pcn" RANGE=SLICE_X0Y2:SLICE_X17Y87;
AREA_GROUP "pblock_u_xwb_pcn" RANGE=DSP48_X0Y1:DSP48_X0Y21;
AREA_GROUP "pblock_u_xwb_pcn" RANGE=RAMB16_X0Y2:RAMB16_X0Y42;
AREA_GROUP "pblock_u_xwb_pcn" RANGE=RAMB8_X0Y2:RAMB8_X0Y43;
INST "U_WR_CORE/WRPC/LM32_CORE" AREA_GROUP = "pblock_LM32_CORE";
INST "U_WR_CORE/WRPC/WB_SECONDARY_CON" AREA_GROUP = "pblock_LM32_CORE";
AREA_GROUP "pblock_LM32_CORE" RANGE=SLICE_X30Y40:SLICE_X59Y63;
AREA_GROUP "pblock_LM32_CORE" RANGE=DSP48_X1Y10:DSP48_X1Y15;
AREA_GROUP "pblock_LM32_CORE" RANGE=RAMB16_X2Y20:RAMB16_X3Y30;
AREA_GROUP "pblock_LM32_CORE" RANGE=RAMB8_X2Y20:RAMB8_X3Y31;
